---
layout: default
title:  Blog
bodyID: blogPage
---
<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-7">
            <div class="page-info">
                <div class="row">
                    <div class="col-md-6 col-7">
                        <h4>Trainer Stories</h4>
                    </div>
                    <div class="col-md-6 col-5 text-right">
                        <a href="#" class="button button-red">New Post</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="post-card" href="{{ site.baseurl }}/blog-single">
                        <div class="post-image" style="background-image: url(https://thunderfitb2b.s3.amazonaws.com/uploads/post/image/18/Building_an_online_presence_as_a_personal_trainer.png)"></div>
                        <div class="post-content">
                            <h6 class="post-author">Matthew Ehrlich <span><i class="far fa-thumbs-up"></i> 32</span></h6>
                            <h2 class="post-title">Building an Online Presence as a Personal Trainer</h2>
                            <p class="post-description">This article goes in-depth into the first stop along the way of becoming a successful online personal trainer. Your website. ...</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="post-card" href="{{ site.baseurl }}/blog-single">
                        <div class="post-image" style="background-image: url(https://thunderfitb2b.s3.amazonaws.com/uploads/post/image/17/trainerburnout.png)"></div>
                        <div class="post-content">
                            <h6 class="post-author">Matthew Ehrlich <span class="liked"><i class="fas fa-thumbs-up"></i> 32</span></h6>
                            <h2 class="post-title">How To Avoid Personal Trainer Burnout</h2>
                            <p class="post-description">Are you doing split shifts that usually have you working from 5am to 10pm most days of the week? What can be done to avoid burnout...</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="post-card" href="{{ site.baseurl }}/blog-single">
                        <div class="post-image" style="background-image: url(https://thunderfitb2b.s3.amazonaws.com/uploads/post/image/15/Monthly_Training_v.s_Per_session_Training.png)"></div>
                        <div class="post-content">
                            <h6 class="post-author">Matthew Ehrlich <span><i class="far fa-thumbs-up"></i> 32</span></h6>
                            <h2 class="post-title">Rethinking How You Charge Your Personal Training Clients</h2>
                            <p class="post-description">We use 2 detailed examples and examine which method of charging your personal training clients has more earning potential....</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="post-card" href="{{ site.baseurl }}/blog-single">
                        <div class="post-image" style="background-image: url(https://thunderfitb2b.s3.amazonaws.com/uploads/post/image/14/Making_More_Money_As_a_Personal_Trainer.png)"></div>
                        <div class="post-content">
                            <h6 class="post-author">Matthew Ehrlich <span><i class="far fa-thumbs-up"></i> 32</span></h6>
                            <h2 class="post-title">How To Earn $100,000+ as a Personal Trainer</h2>
                            <p class="post-description">In this post we cover everything you'll need to do if you're looking to earn a $100,000+ per year income as a personal trainer....</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="text-center">
                <ul class="pagination pagination-lg justify-content-center">
                    <li>
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="far fa-angle-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li><a class="page-link" href="#">1</a></li>
                    <li><a class="page-link" href="#">2</a></li>
                    <li><a class="page-link" href="#">3</a></li>
                    <li>
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="far fa-angle-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
            {% include _sidebar.html %}
        </div>
    </div>
</div>

<div class="contact-trainer" id="contactTrainer" style="display: none;">
    {% include _contact.html %}
</div>
