---
layout: default
title:  Trainers
bodyID: trainersPage
---
<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-7">
            <div class="page-info">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Discover Trainers</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="active"><i class="far fa-th-large"></i></a>
                        <a href="#"><i class="far fa-list"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-type">
                            &#x1F525;
                        </div>
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-type">
                            <img src="{{ site.baseurl }}/images/logo-red.svg" alt="" />
                        </div>
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="trainer">
                        <div class="trainer-photo">
                            <figure>
                                <img src="{{ site.baseurl }}/images/demo/profile.png" alt="" />
                            </figure>
                        </div>
                        <div class="trainer-info">
                            <h2>Matthew Ehrlich</h2>
                            <h3>Queens, NY</h3>
                        </div>
                        <div class="trainer-description">
                            <ul>
                                <li><i class="far fa-dollar-sign"></i> 1-1 ($50 - $300)</li>
                                <li><i class="far fa-check"></i> Group Pricing</li>
                                <li><i class="far fa-trophy"></i> Yoga</li>
                                <li><i class="far fa-file"></i> SCSS, HTML, Yoga</li>
                            </ul>
                        </div>
                        <div class="trainer-actions">
                            <a href="{{ site.baseurl }}/trainerdetail" class="button button-red">More Info</a>
                            <a href="#" data-target="contactTrainer" class="button button-outline">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <ul class="pagination pagination-lg justify-content-center">
                    <li>
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="far fa-angle-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li><a class="page-link" href="#">1</a></li>
                    <li><a class="page-link" href="#">2</a></li>
                    <li><a class="page-link" href="#">3</a></li>
                    <li>
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="far fa-angle-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5">
            {% include _sidebar.html %}
        </div>
    </div>
</div>

<div class="contact-trainer" id="contactTrainer" style="display: none;">
    {% include _contact.html %}
</div>
