<div class="sidebar">
    <div class="mobile-header visible-xs">
        Filter Options
        <a class="pull-right" data-target="toggleFilter"><i class="far fa-times"></i></a>
    </div>
    <div class="filters">
        <h3>FILTER OPTION 1</h3>
        <ul>
            <li class="">
                <a href="#" class="animsition-link">
                    <i class="far fa-filter"></i> Filter <span class="badge">32</span>
                </a>
            </li>
            <li class="active">
                <a href="#" class="animsition-link">
                    <i class="far fa-users"></i> Filter <span class="badge">8</span>
                </a>
            </li>
        </ul>

        <h3>FILTER OPTION 2</h3>
        <ul>
            <li class="">
                <a href="#" class="animsition-link">
                    <i class="far fa-map-marker"></i> Filter Option <span class="badge">32</span>
                </a>
            </li>
            <li class="">
                <a href="#" class="animsition-link">
                    <i class="far fa-users"></i> Filter <span class="badge">12</span>
                </a>
            </li>
            <li class="">
                <a href="#" class="animsition-link">
                    <i class="far fa-map-marker"></i> Filter <span class="badge">3</span>
                </a>
            </li>
            <li class="">
                <a href="#" class="animsition-link">
                    <i class="far fa-users"></i> Filter <span class="badge">21</span>
                </a>
            </li>
        </ul>
    </div>
</div>
